* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.show_barra_titulo {
  -webkit-animation: show_barra 1s linear;
          animation: show_barra 1s linear;
  overflow: hidden;
}

.show {
  -webkit-animation: go-back 0.5s linear;
          animation: go-back 0.5s linear;
}

#high {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 100%;
  border-left: rgba(255, 255, 255, 0) solid 1px transparent;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.voltar {
  position: absolute;
  z-index: 11;
  background-color: rgba(255, 255, 0, 0);
  width: 35px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border-radius: 100%;
  padding: 5px;
  height: 35px;
  border: none;
  left: 0px;
  top: 10%;
}

.quem {
  position: relative;
  display: none;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
  min-height: 100vh;
  min-width: 100vw;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 236px) and (max-width: 768px) {
  .quem .container {
    width: none;
  }
}

.quem #barra-superior-sobre {
  background-color: #212736;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.quem #barra-superior-sobre h2 {
  color: #ffcc74;
  font-family: type;
  text-shadow: 1px 2px 3px #121f52;
  font-size: 2em;
  margin: 0px;
  padding: 5px;
}

.quem .home_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
}

@media (min-width: 236px) and (max-width: 768px) {
  .quem .home_img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.quem .home_img #sobre {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  padding: 0px 15px;
  border-radius: 0px  5px;
}

@media (min-width: 236px) and (max-width: 768px) {
  .quem .home_img #sobre {
    padding: 0px 0px;
  }
}

.quem .home_img #perfil {
  border-radius: 100%;
}

.quem .home_img .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 5px 0px;
  padding-bottom: 10px;
}

@media (min-width: 236px) and (max-width: 768px) {
  .quem .home_img .social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 100vw;
  }
}

.quem .home_img .social a {
  margin: 0px 10px;
}

.quem .home_img .social #cv {
  color: #20222b;
  padding: 3px 1em;
  margin: 0px 0px;
  border-radius: 100px;
  background-color: #ffcc74;
  font-family: type;
  text-decoration: none;
}

.quem .home_img .social img {
  width: 15px;
}

.quem .home_img .social div {
  padding: 0px 5px;
}

.quem .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.quem .tecnologias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 250px;
  height: 300px;
  border-radius: 5px;
  margin-right: 10px;
  border: 1px #212736 solid;
}

.outros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 250px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border: 1px #212736 solid;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 300px;
}

.habilidades {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: vw;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 100px;
  color: #212736;
  color: #fff;
}

@media (min-width: 236px) and (max-width: 990px) {
  .habilidades {
    max-width: 98vw;
  }
}

.habilidades p {
  margin-bottom: 5px;
}

.habilidades .titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.habilidades .titulo img {
  width: 20px;
  padding-top: 2px;
}

.habilidades .idiomas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 250px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border: 1px #212736 solid;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 10px;
  height: 300px;
}

.habilidades h3 {
  font-size: 20px;
  color: #fff;
  font-family: type;
}

.habilidades h2 {
  position: relative;
  color: #ffcc74;
  font-family: type;
  font-size: 2em;
  text-shadow: 1px 2px 3px #424242;
}

.habilidades div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 236px) and (max-width: 990px) {
  .habilidades div {
    width: 98vw;
  }
}

.habilidades svg {
  width: 98px;
  height: 98px;
  padding: 15px;
}

.habilidades .css, .habilidades .html, .habilidades .js, .habilidades .ingles {
  max-width: 98px;
  max-height: 98px;
  border: 5px #212736 solid;
  border-radius: 100%;
  margin: 10px;
}

@media (min-width: 236px) and (max-width: 990px) {
  .habilidades .css, .habilidades .html, .habilidades .js, .habilidades .ingles {
    max-width: 90px;
    max-height: 90px;
  }
}

@media (min-width: 236px) and (max-width: 990px) {
  .habilidades .tecnologias, .habilidades .idiomas, .habilidades .outros {
    height: 400px;
    width: 300px;
    margin-bottom: 15px;
  }
}

.nome {
  min-width: 400px;
  max-width: 800px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-family: type;
  margin-bottom: 5px;
}

@media (min-width: 236px) and (max-width: 1200px) {
  .nome {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 100%;
    max-width: 230px;
    padding: 15px;
  }
}

.nome span {
  color: #ffcc74;
}

.nome p {
  font-size: 20px;
  text-align: justify;
}

.nome div {
  position: relative;
  margin: 10px 0px;
  text-align: left;
}

.nome h2 {
  font-size: 30px;
  text-align: left;
  position: relative;
  color: #ffcc74;
  margin: 0px;
}

@media (min-width: 236px) and (max-width: 768px) {
  .nome h2 {
    text-align: center;
    max-width: 100vw;
  }
}

.nome h2::before {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 2px;
  bottom: 0%;
  width: 100px;
  background-color: #ffcc74;
}

.nome div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.things > .content {
  float: left;
  width: 50%;
  height: 500px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

.things > .content p {
  text-transform: uppercase;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  height: 150px;
  color: #ffffff;
}

/* Arrow */
.arrow {
  position: relative;
  margin: 0 auto;
  width: 100px;
}

.arrow .curve {
  border: 2px solid #BE5F4B;
  border-color: transparent transparent transparent #BE5F4B;
  height: 360px;
  width: 1200px;
  border-radius: 230px 0 0 150px;
}

.arrow .point {
  position: absolute;
  left: 40px;
  top: 315px;
}

.arrow .point:before, .arrow .point:after {
  border: 1px solid #BE5F4B;
  height: 25px;
  content: "";
  position: absolute;
}

.arrow .point:before {
  top: -11px;
  left: -11px;
  transform: rotate(-74deg);
  -webkit-transform: rotate(-74deg);
  -moz-transform: rotate(-74deg);
  -ms-transform: rotate(-74deg);
}

.arrow .point:after {
  top: -20px;
  left: 5px;
  transform: rotate(12deg);
  -webkit-transform: rotate(12deg);
  -moz-transform: rotate(12deg);
  -ms-transform: rotate(12deg);
}

#projetos {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: type;
  height: 100vh;
}

#projetos .titulo {
  width: 100vw;
}

#projetos .titulo h2 {
  font-size: 32px;
  text-align: center;
  text-decoration: none;
  color: #ffcc74;
  background-color: #212736;
}

#projetos .project-cards {
  width: 90vw;
  height: 90vh;
}

#projetos .project-cards h2 {
  color: white;
}

#projetos .project-cards section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 250px;
  max-width: 350px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

@media (min-width: 236px) and (max-width: 768px) {
  #projetos .project-cards section {
    width: none;
    height: 95vh;
    width: 95vw;
  }
}

#projetos .project-cards ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  height: 100%;
}

#projetos .project-cards ul a {
  text-decoration: none;
}

#projetos .project-cards ul li:hover {
  scale: 1.1;
  -webkit-transition: linear 0.5s;
  transition: linear 0.5s;
}

#projetos .project-cards ul li {
  max-width: 430px;
  max-height: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 236px) and (max-width: 768px) {
  #projetos .project-cards ul li {
    width: none;
    height: 95vh;
    width: 95vw;
  }
}

#projetos .project-cards ul li .cover {
  background-color: rgba(0, 0, 0, 0.705);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 430px;
  height: 270px;
}

@media (min-width: 236px) and (max-width: 768px) {
  #projetos .project-cards ul li .cover {
    width: 95vw;
  }
}

#projetos .project-cards ul li .cover:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  background-color: rgba(245, 245, 245, 0);
}

#projetos .project-cards ul li .cover:hover h2 {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#projetos .project-cards ul .medicenter, #projetos .project-cards ul .wind, #projetos .project-cards ul .jesus {
  background-position: center center;
  background-size: 430px 270px;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 236px) and (max-width: 768px) {
  #projetos .project-cards ul .medicenter, #projetos .project-cards ul .wind, #projetos .project-cards ul .jesus {
    background-size: 95vw 50vh;
    width: 95vw;
  }
}

#projetos .project-cards ul .medicenter {
  background-image: url(../images/medicenter.png);
}

#projetos .project-cards ul .medicenter .call {
  display: none;
  height: 100%;
}

#projetos .project-cards ul .medicenter .call div, #projetos .project-cards ul .medicenter .call button {
  height: 100%;
  border: none;
}

#projetos .project-cards ul .wind {
  background-image: url(../images/wind.png);
}

#projetos .project-cards ul .jesus {
  background-image: url(../images/jesusfreak.png);
}

#projetos .info-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: #ffffff solid 1px;
  border-radius: 15px;
  padding: 15px;
}

#projetos .info-bar a {
  text-decoration: none;
  color: purple;
  font-size: 45px;
}

#projetos .info-bar div {
  color: #ffffff;
}

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 1px #212736 solid;
  z-index: 2;
}

aside img {
  position: relative;
  width: 25px;
}

aside a {
  border: none !important;
  padding: 0px !important;
  position: relative;
}

.sobre {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (min-width: 236px) and (max-width: 768px) {
  .sobre {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 236px) and (max-width: 768px) {
  .sobre .img-perfil {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    position: absolute;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.sobre .logo {
  position: absolute;
  z-index: 2;
  width: 450px;
  display: none;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.sobre .blur {
  -webkit-filter: blur(20px);
          filter: blur(20px);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  position: absolute;
  z-index: 1;
  width: 450px;
}

.sobre .perfil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  width: 100%;
}

.sobre div {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

@media (min-width: 236px) and (max-width: 768px) {
  .sobre div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
}

.sobre div .chamada {
  font-family: type;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sobre div .chamada p {
  font-size: 20px;
  background: -webkit-linear-gradient(#e9e9e9, #2c2c2c);
  -webkit-background-clip: text;
  margin-top: 0px;
  -webkit-text-fill-color: transparent;
}

.sobre div h2 {
  font-size: 3em;
  color: #fff;
  text-align: center;
  font-size: calc(20px + 2vw);
}

@media (min-width: 236px) and (max-width: 768px) {
  .sobre div h2 {
    font-size: 25px;
  }
}

.sobre div label {
  background: #ffcc74;
  -webkit-background-clip: text;
  text-align: center;
  -webkit-text-fill-color: transparent;
}

.sobre div .botoes {
  margin-top: 1em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.sobre div .botoes button {
  margin: 20px 5px;
  padding: 5px;
  font-size: 2em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-decoration: none;
  color: #ffffff;
  background-color: #212736;
  border-radius: 5px;
  font-family: type;
  text-align: center;
}

@media (min-width: 236px) and (max-width: 768px) {
  .sobre div .botoes button {
    font-size: 25px;
  }
}

.sobre div .botoes #sobreBtn {
  background-color: #ffcc74;
  color: #fff;
  text-shadow: #212736 1px 2px 3px;
  -webkit-transition: linear 1s;
  transition: linear 1s;
  border: 1px solid #ffcc74;
}

.sobre div .botoes #projetosBtn {
  -webkit-box-shadow: rgba(0, 0, 0, 0.466) 1px 1px 5px 0.1px;
          box-shadow: rgba(0, 0, 0, 0.466) 1px 1px 5px 0.1px;
  text-shadow: #212736 1px 2px 3px;
  color: #ffcc74;
}

@media (min-width: 236px) and (max-width: 768px) {
  .sobre div .botoes #projetosBtn {
    -webkit-box-shadow: white 0px 0px 0px;
            box-shadow: white 0px 0px 0px;
    border: 1px solid rgba(0, 0, 0, 0.466);
  }
}

.sobre div a {
  margin: 20px;
  padding: 20px;
  font-size: 25px;
  border: 1px #811566 solid;
  text-decoration: none;
  color: #ffffff;
  border-radius: 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.sobre div p {
  font-size: 45px;
  color: #aca8ac;
}

.container {
  margin: 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none !important;
  position: absolute;
  width: 450px;
  height: 75px;
  text-shadow: purple 3px 3px 4px;
  -webkit-box-shadow: purple 1px 1px 10px 1px;
          box-shadow: purple 1px 1px 10px 1px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body {
  background-color: #191d28 !important;
  font-family: roboto;
}

body h1 {
  font-family: roboto;
  color: #212736;
  font-size: 2em;
}

#losango {
  display: none;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: 20px;
  border: 1px solid black;
  background-image: linear-gradient(25deg, #D43BC2, #D44B46, #CFD450, #26D463, #8531D4, #8531D4);
  -webkit-box-shadow: 1px 1px 5px 1px #201f1f;
          box-shadow: 1px 1px 5px 1px #201f1f;
}

nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
  margin: 5px;
  text-align: end;
  font-size: 20px;
  font-family: robotobold;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=main.css.map */