* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#high {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 100%;
  border-left: rgba(255, 255, 255, 0) solid 1px transparent;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.voltar {
  position: absolute;
  z-index: 11;
  background-color: rgba(255, 255, 0, 0);
  width: 45px;
  border: 1px #ffffff solid;
  border-radius: 100%;
  padding: 5px;
  height: 45px;
  left: 0px;
  top: 10%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.quem {
  position: relative;
  display: none;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
  height: 100vh;
  width: 100vw;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.quem #barra-superior-sobre {
  margin: 0;
}

.quem #barra-superior-sobre h2 {
  background: #f8a830;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3em;
  margin: 0px;
  padding: 20px;
}

.quem .home_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80vw;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.quem .home_img .home_blob-img {
  width: 200px;
}

.quem .home_img .home_blob {
  width: 320px;
}

.quem .home_img .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0em 1em;
  padding-bottom: 10px;
}

.quem .home_img .social a {
  margin: 5px;
}

.quem .home_img .social #cv {
  font-family: roboto;
  padding: 3px 1em;
  margin: 0px;
  border-radius: 100px;
  background-color: #f8a830;
}

.quem .home_img .social img {
  width: 15px;
}

.quem .home_img .social div {
  padding: 0px 5px;
}

.quem .home_img .social::after {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 80px;
  right: 0%;
  margin: 0px;
  bottom: 0%;
  width: 2px;
  background-color: #bdbcbc;
  content: "";
  -webkit-box-shadow: #ffffff 1px 1px 5px 1px;
          box-shadow: #ffffff 1px 1px 5px 1px;
}

.quem .home_img .social::before {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 2px;
  right: 0%;
  margin: 0px;
  bottom: 0%;
  width: 80px;
  background-color: #bdbcbc;
  content: "";
  -webkit-box-shadow: #ffffff 1px 1px 5px 1px;
          box-shadow: #ffffff 1px 1px 5px 1px;
}

.quem .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.quem .habilidades {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.quem .habilidades div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.quem .habilidades svg {
  padding: 15px;
}

.quem .habilidades .css {
  height: 100px;
}

.quem .habilidades .html {
  height: 100px;
}

.quem .habilidades .js {
  height: 100px;
}

.quem .nome div::before {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 2px;
  left: 0%;
  margin: 0px;
  top: 0%;
  width: 80px;
  background-color: #bdbcbc;
  content: "";
  -webkit-box-shadow: #ffffff 1px 1px 5px 1px;
          box-shadow: #ffffff 1px 1px 5px 1px;
}

.quem .nome div::after {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 80px;
  left: 0%;
  margin: 0px;
  top: 0%;
  width: 2px;
  background-color: #bdbcbc;
  content: "";
  -webkit-box-shadow: #ffffff 1px 1px 5px 1px;
          box-shadow: #ffffff 1px 1px 5px 1px;
}

.quem .nome {
  min-width: 400px;
  color: #aca8ac;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-family: type;
}

.quem .nome p {
  width: 440px;
  font-size: 20px;
}

.quem .nome div {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.quem .nome h2 {
  font-size: 45px;
  position: relative;
}

.quem .nome h2::before {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 2px;
  bottom: 0%;
  right: 25%;
  left: 25%;
  width: 220px;
  background-color: #bdbcbc;
  content: "";
}

.quem .nome div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#mediC {
  --azul-fundo: #5693b1;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  border-radius: 5px;
  background-color: var(--azul-fundo);
  -webkit-box-shadow: 3px 3px 5px 3px rgba(214, 212, 212, 0.151);
          box-shadow: 3px 3px 5px 3px rgba(214, 212, 212, 0.151);
}

#mediC svg {
  width: 100px;
  height: 100px;
}

#mediC h2 {
  font-size: 75px;
  text-shadow: 1px 1px 2px black;
  color: #ffffff;
}

#mediC div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mediC .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#mediC .text p {
  color: #ffffff;
  font-size: 25px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#mediC .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#mediC .img img {
  max-width: 300px;
}

#jesusf {
  --preto-fundo: #1D1919;
  padding: 20px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  min-height: 70vh;
  max-width: 20vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--preto-fundo);
  -webkit-box-shadow: 3px 3px 5px 3px rgba(65, 64, 64, 0.151);
          box-shadow: 3px 3px 5px 3px rgba(65, 64, 64, 0.151);
}

#jesusf a {
  text-decoration: none;
  color: black;
}

#jesusf svg {
  width: auto;
  height: auto;
}

#jesusf h2 {
  font-size: 75px;
  text-shadow: black 5px 5px 10px;
  color: #C21370;
}

#jesusf div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#jesusf p {
  text-shadow: 1px 1px 5px black;
  color: #FFB69F;
}

#jesusf .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#jesusf .text p {
  font-size: 25px;
}

#jesusf .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#jesusf .img img {
  max-width: 300px;
}

.things > .content {
  float: left;
  width: 50%;
  height: 500px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

.things > .content p {
  text-transform: uppercase;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  height: 150px;
  color: #ffffff;
}

/* Arrow */
.arrow {
  position: relative;
  margin: 0 auto;
  width: 100px;
}

.arrow .curve {
  border: 2px solid #BE5F4B;
  border-color: transparent transparent transparent #BE5F4B;
  height: 360px;
  width: 1200px;
  border-radius: 230px 0 0 150px;
}

.arrow .point {
  position: absolute;
  left: 40px;
  top: 315px;
}

.arrow .point:before, .arrow .point:after {
  border: 1px solid #BE5F4B;
  height: 25px;
  content: "";
  position: absolute;
}

.arrow .point:before {
  top: -11px;
  left: -11px;
  transform: rotate(-74deg);
  -webkit-transform: rotate(-74deg);
  -moz-transform: rotate(-74deg);
  -ms-transform: rotate(-74deg);
}

.arrow .point:after {
  top: -20px;
  left: 5px;
  transform: rotate(12deg);
  -webkit-transform: rotate(12deg);
  -moz-transform: rotate(12deg);
  -ms-transform: rotate(12deg);
}

#Windt {
  --cinza-fundo: rgb(26, 26, 26);
  padding: 20px;
  min-height: 70vh;
  max-width: 20vw;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--cinza-fundo);
  -webkit-box-shadow: 3px 3px 5px 3px rgba(65, 64, 64, 0.151);
          box-shadow: 3px 3px 5px 3px rgba(65, 64, 64, 0.151);
}

#Windt a {
  text-decoration: none;
  color: black;
}

#Windt svg {
  width: 100px;
  height: 100px;
}

#Windt h2 {
  font-size: 75px;
  text-shadow: black 5px 5px 10px;
  text-align: center;
  color: #fc6404;
}

#Windt div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#Windt .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#Windt .text p {
  font-size: 25px;
  text-align: center;
  color: #ffffff;
}

#Windt .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#Windt .img img {
  max-width: 300px;
}

#projetos {
  width: auto;
  height: auto;
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

#projetos .titulo h2 {
  font-size: 65px;
  color: #ffffff;
}

#projetos .titulo h3 {
  color: #ffffff;
}

#projetos .items section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 650px;
  min-width: 20vw;
  max-width: 350px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

#projetos .items section a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: black;
  min-height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#projetos .items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px;
}

#projetos .items ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

#projetos .info-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: #ffffff solid 1px;
  border-radius: 15px;
  padding: 15px;
}

#projetos .info-bar a {
  text-decoration: none;
  color: purple;
  font-size: 45px;
}

#projetos .info-bar div {
  color: #ffffff;
}

body > section.container.sobre > aside > div > a:nth-child(1)::before {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 60px;
  left: 0%;
  margin: -5px;
  top: 0%;
  width: 2px;
  background-color: #bdbcbc;
  content: "";
  -webkit-box-shadow: #ffffff 1px 1px 5px 1px;
          box-shadow: #ffffff 1px 1px 5px 1px;
}

body > section.container.sobre > aside > div > a:nth-child(1)::after {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 60px;
  left: 0%;
  margin: -5px;
  top: 0%;
  height: 2px;
  background-color: #bdbcbc;
  content: "";
  -webkit-box-shadow: #ffffff 1px 1px 5px 1px;
          box-shadow: #ffffff 1px 1px 5px 1px;
}

body > section.container.sobre > aside > div > a:nth-child(3)::before {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 60px;
  margin: -5px;
  right: 0%;
  bottom: 0%;
  width: 2px;
  background-color: #bdbcbc;
  content: "";
  -webkit-box-shadow: #ffffff 1px 1px 5px 1px;
          box-shadow: #ffffff 1px 1px 5px 1px;
}

body > section.container.sobre > aside > div > a:nth-child(3)::after {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 2px;
  margin: -5px;
  right: 0%;
  bottom: 0%;
  width: 60px;
  background-color: #bdbcbc;
  content: "";
  -webkit-box-shadow: #ffffff 1px 1px 5px 1px;
          box-shadow: #ffffff 1px 1px 5px 1px;
}

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
}

aside img {
  position: relative;
  margin: 10px;
  width: 35px;
}

aside a {
  border: none !important;
  padding: 5px !important;
  position: relative;
}

.sobre {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.sobre .logo {
  position: absolute;
  z-index: 2;
  width: 450px;
  display: none;
  -webkit-filter: drop-shadow(#FFD700 1px 1px 3px);
          filter: drop-shadow(#FFD700 1px 1px 3px);
}

.sobre .blur {
  -webkit-filter: blur(20px);
          filter: blur(20px);
  display: none;
  position: absolute;
  z-index: 1;
  width: 450px;
}

.sobre .perfil h2::after {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 120px;
  left: 0%;
  margin: 5px;
  top: 0%;
  width: 2px;
  background-color: #bdbcbc;
  content: "";
  -webkit-box-shadow: #ffffff 1px 1px 5px 1px;
          box-shadow: #ffffff 1px 1px 5px 1px;
}

.sobre .perfil h2::before {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 2px;
  left: 0%;
  margin: 5px;
  top: 0%;
  width: 120px;
  background-color: #bdbcbc;
  content: "";
  -webkit-box-shadow: #ffffff 1px 1px 5px 1px;
          box-shadow: #ffffff 1px 1px 5px 1px;
}

.sobre .perfil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  width: 100%;
}

.sobre .chamada::after {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 120px;
  left: 100%;
  margin: 15px 0px;
  bottom: 0%;
  width: 2px;
  background-color: #bdbcbc;
  content: "";
  -webkit-box-shadow: #ffffff 1px 1px 5px 1px;
          box-shadow: #ffffff 1px 1px 5px 1px;
}

.sobre .chamada::before {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 2px;
  right: 0%;
  margin: 15px 0px;
  bottom: 0%;
  width: 120px;
  background-color: #bdbcbc;
  content: "";
  -webkit-box-shadow: #ffffff 1px 1px 5px 1px;
          box-shadow: #ffffff 1px 1px 5px 1px;
}

.sobre div {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.sobre div .chamada {
  font-family: type;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sobre div .chamada p {
  font-size: 20px;
  background: -webkit-linear-gradient(#e9e9e9, #2c2c2c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sobre div h2 {
  font-size: 3em;
  color: #aca8ac;
  text-align: center;
  justify-self: flex-end;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 20px 10px;
}

.sobre div label {
  background: #f8a830;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sobre div .botoes {
  margin-top: 1em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.sobre div .botoes button {
  margin: 20px 5px;
  padding: 20px;
  font-size: 2em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-decoration: none;
  color: #ffffff;
  background-color: #212736;
  border-radius: 5px;
  font-family: type;
  text-align: center;
}

.sobre div .botoes #sobreBtn {
  background-color: #f8a830;
  color: #fff;
  text-shadow: #212736 1px 2px 3px;
}

.sobre div .botoes #projetosBtn {
  -webkit-box-shadow: rgba(0, 0, 0, 0.466) 1px 1px 5px 0.1px;
          box-shadow: rgba(0, 0, 0, 0.466) 1px 1px 5px 0.1px;
  text-shadow: #212736 1px 2px 3px;
  color: #f8a830;
}

.sobre div a {
  margin: 20px;
  padding: 20px;
  font-size: 25px;
  border: 1px #811566 solid;
  text-decoration: none;
  color: #ffffff;
  border-radius: 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.sobre div p {
  margin: 20px;
  font-size: 45px;
  color: #aca8ac;
}

* {
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

.container {
  max-width: 80vw !important;
  margin: 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none !important;
  position: absolute;
  width: 450px;
  height: 75px;
  text-shadow: purple 3px 3px 4px;
  -webkit-box-shadow: purple 1px 1px 10px 1px;
          box-shadow: purple 1px 1px 10px 1px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body {
  background-color: #191d28 !important;
  font-family: roboto;
}

body h1 {
  font-family: roboto;
  color: #212736;
  font-size: 2em;
}

#losango {
  display: none;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: 20px;
  border: 1px solid black;
  background-image: linear-gradient(25deg, #D43BC2, #D44B46, #CFD450, #26D463, #8531D4, #8531D4);
  -webkit-box-shadow: 1px 1px 5px 1px #201f1f;
          box-shadow: 1px 1px 5px 1px #201f1f;
}

nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
  margin: 5px;
  text-align: end;
  font-size: 20px;
  font-family: robotobold;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=main.css.map */