#high{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-radius: 100%;
    border-left: rgba(255, 255, 255, 0) solid 1px transparent;
    flex: 1
    
}
.voltar{
    position: absolute;
    z-index: 11;
    background-color: rgba(255, 255, 0, 0);
    width: 45px;
    color: white;
    border: 1px white solid;
    border-radius: 100%;
    padding: 5px;
    height: 45px;
    left: 0;
    top:20%;
    box-sizing: content-box;

}
.quem{
    position: relative;
    display: none;
    align-content: space-around;
    justify-content: center;
    flex-direction: row;
    color: white;
    height: 100vh;
    text-align: center;
    flex-wrap: wrap;
    h2{
        font-size: 45px;
        padding: 20px;
    }
    .escolha{
        min-width: 400px;
        flex: 1;
    }
    
    .habilidades{
        display: flex;
        flex-direction: column;
       
        flex:1;
        div{
            display: flex;
            justify-content: center;
        }
        svg{
            padding: 15px;
            
        }
        .css{
           height: 100px;
        }
        .html{
            height: 100px;
        }
        .js{
            height: 100px;
        }
    }
    .nome{  
        min-width: 400px;
        flex: 1;
      
    div{
        flex: 1;
    
    }
    
    .contato{
        display: flex;
        flex-wrap: wrap;

        img{
            width: 50px;
            border: 1px white solid;
            border-radius: 10px;
        }
        a{
            margin: 0px 0px 15px 15px;
            flex: 1;
            color: white
        }
        h3{
            margin-top: 5px;
        }
        
    }
    
}}

#mediC{
    --azul-fundo: #5693b1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    min-height: 70vh;
    max-width: 20vw;
    flex-direction: column;
    background-color: var(--azul-fundo);
   
    a{
        text-decoration: none;
        color: black
    }
    svg{
    width: 100px;
    height: 100px;
}
    h2{
        font-size: 75px;
        text-shadow: 1px 1px 2px black;
        color: white;
        
    }
    div{
        display: flex;
        text-align: center;
        align-items: center;
    }
    .text{
        flex: 1;
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       p{
        color: white;
        font-size: 25px; 
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;

       }

    }
    .img{
        flex: 1;
        display: flex;
        justify-content: flex-end;
        img{
            max-width: 300px;
        
        }
    }

}
#jesusf{
    --preto-fundo: #1D1919;
    padding: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    min-height: 70vh;
    max-width: 20vw;
    flex-direction: column;
    background-color: var(--preto-fundo); 
    a{
        text-decoration: none;
        color: black
    }
    svg{
    width: auto;
    height: auto;
}
    h2{
        font-size: 75px;
        text-shadow: black 5px 5px 10px ;
        color: #C21370;
    }
    div{
        display: flex;
        text-align: center;
        align-items: center;
    }
    p{
        text-shadow: 1px 1px 5px black;
        color: #FFB69F;
    }
    .text{
        flex: 1;
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       p{
        font-size: 25px; 
        text-align: center;
       }

    }
    .img{
        flex: 1;
        display: flex;
        justify-content: flex-end;
        img{
            max-width: 300px;
        
        }
    }

}
.things > .content {
    float: left;
    width: 50%;
    height: 500px;
    -webkit-box-sizing: border-box; 
      -moz-box-sizing: border-box;    
      box-sizing: border-box;
    position: relative;
  }
  
  .things > .content p {
    text-transform: uppercase;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    height: 150px;
    color: white;
  }
  
  /* Arrow */
  
  .arrow {
      position: relative;
    margin: 0 auto;
    width: 100px;
  }
  
  .arrow .curve {
      border: 2px solid #BE5F4B;
      border-color: transparent transparent transparent #BE5F4B;
      height: 360px;
      width: 1200px;
      border-radius: 230px 0 0 150px;
  }
  
  .arrow .point {
      position: absolute;
      left: 40px;
      top: 315px;
  }
  
  .arrow .point:before, .arrow .point:after {
      border: 1px solid #BE5F4B;
      height: 25px;
      content: "";
      position: absolute;
  }
  
  .arrow .point:before {
      top: -11px;
      left: -11px;
      transform:rotate(-74deg);
      -webkit-transform:rotate(-74deg);
    -moz-transform:rotate(-74deg);
    -ms-transform: rotate(-74deg);
  }
  
  .arrow .point:after {
    top: -20px;
      left: 5px;
      transform:rotate(12deg);
      -webkit-transform: rotate(12deg);
    -moz-transform:rotate(12deg);
    -ms-transform: rotate(12deg);
  }
#Windt{
    --cinza-fundo: rgb(26, 26, 26);
    padding: 20px;
    min-height: 70vh;
    max-width: 20vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    flex-direction: column;
    background-color: var(--cinza-fundo);
    

    a{
        text-decoration: none;
        color: black
    }
    svg{
    width: 100px;
    height: 100px;
    }
    h2{
        font-size: 75px;
        text-shadow: black 5px 5px 10px ;
        text-align: center;
        
        color: #fc6404;
        margin-top: 45px;
        
        
    }
    div{
        display: flex;
        text-align: center;
        align-items: center;
    }
    .text{
        flex: 1;
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       p{
          font-size: 25px; 
            text-align: center;
            color: white;
       }

    }
    .img{
        flex: 1;
        display: flex;
        justify-content: flex-end;
        img{
            max-width: 300px;
        
        }
    }

}



#carouselExampleControls{
    
    align-self: center;
}
.carousel{
    align-items: center;
    justify-content: center;
    display: flex;
}
.carousel-inner{
    display: flex;
    flex-direction: row;

    align-items: center;
}
.carousel-item{
    min-width: 35vw;
}
#projetos{
    width: auto;
    height: auto;
    display: none;
    justify-content: space-around;
    .carousel{
        padding: 0px;
        box-shadow: 1px 3px 10px rgb(78, 78, 78);
    }

    }
    .info-bar{
        a{
            text-decoration: none;
            color: purple;
            font-size: 45px;
        }
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        border: white solid 1px;
        border-radius: 15px;
        padding: 15px;
        div{
            color: white;   
            

        }}
    .forte{
        p{
            font-size: 45px;
            color: white;
            font-family: cursive;
            
            
        }
        label{
            font-size: 50px;    
            color: white;
    }
}
.sobre{
    background-image: linear-gradient(to left, #000000, #070103, #0c0107, #10030d, #120412);
    height: 100vh;   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .perfil{
        flex-direction: row;
    }
    div{
        color: white;
        display: flex;
        align-items: center;
        flex-direction: column;
        flex:1;
        width: 100%;
    
        .chamada{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            p{
                font-size: 20px;
                background: -webkit-linear-gradient(rgb(233, 233, 233), rgb(44, 44, 44));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        h2{

            font-size: 65px;
            color: #aca8ac;
            text-align: center;
            justify-self: flex-end;
            align-self: flex-end;
            padding-left: 20px;
        }
        label{
            background: -webkit-linear-gradient(rgb(129, 21, 102), rgb(82, 50, 74));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .botoes{
            width: 50%;
            flex-direction: row;
            align-items: flex-start;
            button{
            margin: 20px;
            padding: 20px;
            font-size: 25px;
            border:1px rgb(129, 21, 102) solid;
            text-decoration: none;
            color:white;
            background-color: #00000000;
            border-radius: 5px;
            flex: 1;
                text-align: center;
                
            }
        }
        a{
        margin: 20px;
        padding: 20px;
        font-size: 25px;
        border:1px rgb(129, 21, 102) solid;
        text-decoration: none;
        color: white;
        border-radius: 5px;
        flex: 1;

        }
        p{
            margin: 20px;
            font-size: 45px;
            color: #aca8ac;
        }
    }
}
*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    padding: 0;
    
}   
.container{
    max-width: 80vw !important;
    margin: 0 auto;
}
.flex{
    display: flex;
}
header{
    align-items: center;
    display: none !important;
    position: absolute;
    width: 80%;
    justify-content: center;
    flex-direction: row;
    padding-top:25px;
    padding: 0px 30px;
    border-radius: 10px 50px;
}

body{
    background-image: linear-gradient(to left, #000000, #070103, #0c0107, #10030d, #120412);  
    font-family: roboto; 
    h1{
        font-family: roboto;
        color: white;
        font-size: 2em;

    }
}
#losango{
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    margin: 20px;
    border: 1px solid black;
    background-image: linear-gradient(25deg, #D43BC2,#D44B46, #CFD450,#26D463,#8531D4,#8531D4);
    box-shadow: 1px 1px 5px 1px rgb(32, 31, 31);
}
nav{
    flex-direction: row;
    display: flex;
    flex:1 ;
    align-items: flex-end;
    justify-content:flex-end ;
    a{
        text-decoration: none;
        color: white;
        padding: 10px;
        margin: 5px;
        text-align: end;
        font-size: 20px;
        font-family: robotobold;
        flex:1;
        
        
        
        
        
        
        }
        
}

p{
    font-size: 20px;
    text-align: center;
}


.row{
    flex-direction: row;
}
.col{
    flex-direction: column;
}