$dominant-color:#191d28;
$secondary-color:#212736;
$accent-color:#f8a830;

$color-primary-border: rgb(189, 188, 188);
$color-secondary-border:#ffffff;
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#high{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-radius: 100%;
    border-left: rgba(255, 255, 255, 0) solid 1px transparent;
    flex: 1
}

.voltar{
    position: absolute;
    z-index: 11;
    background-color: rgba(255, 255, 0, 0);
    width: 45px;
    border: 1px #ffffff solid;
    border-radius: 100%;
    padding: 5px;
    height: 45px;
    left: 0px;
    top:10%;

    box-sizing: content-box;

}
.quem{
    position: relative;
    display: none;
    align-content: space-around;
    
    flex-direction: column;
    color: #ffffff;
    min-height: 100vh;
    
    text-align: center;
    flex-wrap: wrap;
    #barra-superior-sobre{
        background-color: $secondary-color;
        margin-bottom: 15px;
        display: flex;
        width: 100vw;
        align-items: center;
        justify-content: center;
        h2{
            color: $accent-color;
            font-family: type;
            text-shadow: 1px 2px 3px #121f52;
            font-size: 3em;

            margin: 0px;
            padding: 5x;
        }
    }

    .home_img {
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        position: relative;
        #sobre{
        
            padding: 0px 15px;
            border-radius: 0px  5px;
        }
    
        #perfil{
            border-radius: 100%;
            
        }
        .social{
            display: flex;
            position: relative;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            margin: 5px 0px;
            padding-bottom: 10px;
            a{
                margin: 0px 10px;
            }
            #cv{

                padding: 3px 1em;
                margin: 0px 0px;
                border-radius: 100px;
                background-color: $accent-color;
                font-size: 20px;
                font-family: type;
            
            }
            img{
                width: 15px;
            }
            div{
                padding: 0px 5px 
            } 
        }
        
        
    }

    .info{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }
    .tecnologias{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        width: 250px;
        height: 300px;
        border-radius: 5px;
        margin-right:10px;
        border: 1px $secondary-color solid
        
    }
    .outros{
        display: flex;
            flex-direction: column;
            width: 250px;
            align-items: center;
            border-radius: 5px;
            justify-content: flex-start;
            border: 1px $secondary-color solid;
            flex: 1;
            
            height: 300px;
    }
    .habilidades{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        min-width: 100vw;
        min-height: max-content;
        flex-wrap: wrap;
        min-height: 100px;
        
        color:$secondary-color;
        
        .idiomas{
            display: flex;
            flex-direction: column;
            width: 250px;
            align-items: center;
            border-radius: 5px;
            justify-content: flex-start;
            border: 1px $secondary-color solid;
            flex: 1;
            margin-right: 10px;
            height: 300px;
        }
        h3{
            font-size: 20px;
            color: #aca8ac;
            font-family: type;
        }
        h2{
            position: relative;
            color: $accent-color;
            font-family: type;
            font-size: 2em;
            text-shadow: 1px 2px 3px rgb(66, 66, 66);
        }
        div{
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: flex-start;
            flex-wrap: wrap;
            
        }
        svg{
            width: 98px;
            height: 98px;
            padding: 15px;
            
    
        }
        .css, .html, .js, .ingles{
            max-width: 98px;
            max-height: 98px;
            border:5px $secondary-color solid;
            border-radius: 100%;
            margin: 10px;
            
        }

    }
    

    .nome{  
        min-width: 400px;
        max-width: 800px;
        color: #aca8ac;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-family: type;
        span{
            color: $accent-color;
        }
        p{
            width: 440px;
            font-size: 20px;
            text-align: justify;
        }
        div{
            position: relative;
            width: 440px;
            margin: 10px 0px;
            text-align: left;

        }
        h2{
            font-size: 30px;
            text-align: left;
            position: relative;
            color: $accent-color;
            margin: 0px;
        }
        h2::before{
            position: absolute;
            box-sizing: border-box;
            height: 2px;
            bottom: 0%;
            
            width: 100px;
            background-color: $accent-color;
            
        }

    div{
        flex: 1;
    }
    
    
}}

#mediC{
    --azul-fundo: #5693b1;
    padding: 20px;
    display: flex;
    text-align: center;
    border-radius: 5px;
    background-color: var(--azul-fundo);
    box-shadow: 3px 3px 5px 3px rgba(214, 212, 212, 0.151);
    svg{
    width: 100px;
    height: 100px;
}
    h2{
        font-size: 75px;
        text-shadow: 1px 1px 2px black;
        color: #ffffff;
        
    }
    div{
        display: flex;
        text-align: center;
        align-items: center;
    }
    .text{
        display: flex;
        text-align: center;
        flex-direction: column;
       p{
        color: #ffffff;
        font-size: 25px; 
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;

       }

    }
    .img{
        
        display: flex;
        justify-content: flex-end;
        img{
            max-width: 300px;
        
        }
    }

}


#jesusf{
    --preto-fundo: #1D1919;
    padding: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    min-height: 70vh;
    max-width: 20vw;
    flex-direction: column;
    background-color: var(--preto-fundo); 
    box-shadow: 3px 3px 5px 3px rgba(65, 64, 64, 0.151);
    a{
        text-decoration: none;
        color: black
    }
    svg{
    width: auto;
    height: auto;
}
    h2{
        font-size: 75px;
        text-shadow: black 5px 5px 10px ;
        color: #C21370;
    }
    div{
        display: flex;
        text-align: center;
        align-items: center;
    }
    p{
        text-shadow: 1px 1px 5px black;
        color: #FFB69F;
    }
    .text{
        display: flex;
        text-align: center;
        flex-direction: column;
        
       p{
        font-size: 25px; 
    
       }

    }
    .img{
      
        display: flex;
        justify-content: flex-end;
        img{
            max-width: 300px;
        
        }
    }

}
.things > .content {
    float: left;
    width: 50%;
    height: 500px;
    -webkit-box-sizing: border-box; 
      -moz-box-sizing: border-box;    
      box-sizing: border-box;
    position: relative;
  }
  
  .things > .content p {
    text-transform: uppercase;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    height: 150px;
    color: #ffffff;
  }
  
  /* Arrow */
  
  .arrow {
      position: relative;
    margin: 0 auto;
    width: 100px;
  }
  
  .arrow .curve {
      border: 2px solid #BE5F4B;
      border-color: transparent transparent transparent #BE5F4B;
      height: 360px;
      width: 1200px;
      border-radius: 230px 0 0 150px;
  }
  
  .arrow .point {
      position: absolute;
      left: 40px;
      top: 315px;
  }
  
  .arrow .point:before, .arrow .point:after {
      border: 1px solid #BE5F4B;
      height: 25px;
      content: "";
      position: absolute;
  }
  
  .arrow .point:before {
      top: -11px;
      left: -11px;
      transform:rotate(-74deg);
      -webkit-transform:rotate(-74deg);
    -moz-transform:rotate(-74deg);
    -ms-transform: rotate(-74deg);
  }
  
  .arrow .point:after {
    top: -20px;
      left: 5px;
      transform:rotate(12deg);
      -webkit-transform: rotate(12deg);
    -moz-transform:rotate(12deg);
    -ms-transform: rotate(12deg);
  }
#Windt{
    --cinza-fundo: rgb(26, 26, 26);
    padding: 20px;
    min-height: 70vh;
    max-width: 20vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    flex-direction: column;
    background-color: var(--cinza-fundo);
    box-shadow: 3px 3px 5px 3px rgba(65, 64, 64, 0.151);
    

    a{
        text-decoration: none;
        color: black
    }
    svg{
    width: 100px;
    height: 100px;
    }
    h2{
        font-size: 75px;
        text-shadow: black 5px 5px 10px ;
        text-align: center;
        color: #fc6404;
        
        
    }
    div{
        display: flex;
        text-align: center;
        align-items: center;
    }
    .text{
        display: flex;
        text-align: center;
        flex-direction: column;
       p{
          font-size: 25px; 
            text-align: center;
            color: #ffffff;
       }

    }
    .img{
        display: flex;
        justify-content: flex-end;
        img{
            max-width: 300px;
        
        }
    }

}

#projetos{
    width: auto;
    height: auto;
    display: none;
    justify-content: space-around;
    text-align: center;
    .titulo{
        h2{
            font-size: 65px;
            color: #ffffff;
        }
        h3{
            color: #ffffff;
        }
}
    .items{
        section{
            display: flex;
            flex-direction: column;
            min-height: 650px;
            min-width: 20vw;
            max-width: 350px;
            box-sizing: content-box;
            a{
                display: flex;
                text-decoration: none;
                color: black;
                min-height: 100%;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                
            }
            
        }
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding: 20px;
            li{
                display: flex;
                height: 100%;
                
            }
    }
}
    .info-bar{
        a{
            text-decoration: none;
            color: purple;
            font-size: 45px;
        }
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        border: #ffffff solid 1px;
        border-radius: 15px;
        padding: 15px;
        div{
            color: #ffffff;   
        }
    }
}
body > section.container.sobre > aside > div > a:nth-child(1)::before {
    position: absolute;
    box-sizing: border-box;
    height: 60px;
    left: 0%;
    margin: -5px;
    top: 0%;
    width: 2px;
    background-color: $color-primary-border;
    content: "";
    box-shadow: $color-secondary-border 1px 1px 5px 1px;
}
body > section.container.sobre > aside > div > a:nth-child(1)::after {
    position: absolute;
    box-sizing: border-box;
    width: 60px;
    left: 0%;
    margin: -5px;
    top: 0%;
    height: 2px;
    background-color: $color-primary-border;
    content: "";
    box-shadow: $color-secondary-border 1px 1px 5px 1px;
}

body > section.container.sobre > aside > div > a:nth-child(3)::before {
    position: absolute;
    box-sizing: border-box;
    height: 60px;
    margin: -5px;
    right: 0%;
    bottom: 0%;
    width: 2px;
    background-color: $color-primary-border;
    content: "";
    box-shadow: $color-secondary-border 1px 1px 5px 1px;

}
body > section.container.sobre > aside > div > a:nth-child(3)::after{
    position: absolute;
    box-sizing: border-box;
    height: 2px;
    margin: -5px;
    right: 0%;
    bottom: 0%;
    width: 60px;
    background-color: $color-primary-border;
    content: "";
    box-shadow: $color-secondary-border 1px 1px 5px 1px;
}

aside{
    display: flex;
    flex-direction: column;
    z-index: 2;
    img{
        position: relative;
        margin: 10px;
        width: 35px;
        
        
    }
    a{
        border: none!important;
        padding: 5px!important;
        position: relative;

    }

}
.sobre{
    height: 100vh;   
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    .logo{
        position: absolute;
        
        z-index: 2;
        width: 450px;    
        display: none;
        filter: grayscale(100%);
        
    }
    .blur{
        filter: blur(20px);
        filter: grayscale(100%);
        position: absolute;
        z-index: 1;
        width: 450px;   
    }
    .perfil h2::after{
    position: absolute;
    box-sizing: border-box;
    height: 120px;
    left: 0%;
    margin: 5px;
    top: 0%;
    width: 2px;
    background-color: $color-primary-border;
    content: "";
    box-shadow: $color-secondary-border 1px 1px 5px 1px;
    }
    .perfil h2::before{
        position: absolute;
    box-sizing: border-box;
    height: 2px;
    left: 0%;
    margin: 5px;
    top: 0%;
    width: 120px;
    background-color: $color-primary-border;
    content: "";
    box-shadow: $color-secondary-border 1px 1px 5px 1px;
    }
    
    .perfil{
        display: flex;
        z-index: 3;
        flex-direction: column;
        align-items: center;
        position: relative;
        flex: 2;
        width: 100%;
        
    }
    .chamada::after{
        position: absolute;
        box-sizing: border-box;
        height: 120px;
        left: 100%;
        margin: 15px 0px;
        bottom: 0%;
        width: 2px;
        background-color: $color-primary-border;
        content: "";
        box-shadow: $color-secondary-border 1px 1px 5px 1px;
        }
    .chamada::before{
        position: absolute;
        box-sizing: border-box;
        height: 2px;
        right: 0%;
        margin: 15px 0px;
        bottom: 0%;
        width: 120px;
        background-color: $color-primary-border;
        content: "";
        box-shadow: $color-secondary-border 1px 1px 5px 1px;
        }
    div{
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex:1;
        height: 100%;
        width: 100%;
        height: max-content;
    
        .chamada{
            font-family: type;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            p{
                font-size: 20px;
                background: -webkit-linear-gradient(rgb(233, 233, 233), rgb(44, 44, 44));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        h2{
            font-size: 3em;
            color: #aca8ac;
            text-align: center;
            justify-self: flex-end;
            align-self: flex-end;
            padding: 20px 10px;

        }
        label{
            background: $accent-color;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .botoes{
            margin-top: 1em;
            flex-direction: row;
            align-items: flex-start;
            width: 100%;
            button{
            margin: 20px 5px;
            padding: 20px;
            font-size: 2em;
            flex: 1;
            text-decoration: none;
            color:#ffffff;
            background-color: $secondary-color;
            border-radius: 5px;
            font-family: type;
            text-align: center;
            }
            #sobreBtn{
                background-color: $accent-color;
                color: #fff;
                text-shadow: $secondary-color 1px 2px 3px;
                
            }
            
            #projetosBtn{
            box-shadow:  rgba(0, 0, 0, 0.466) 1px 1px 5px 0.1px;
            text-shadow: $secondary-color 1px 2px 3px;
            color: $accent-color;
            
            }
            

        }
        a{
        margin: 20px;
        padding: 20px;
        font-size: 25px;
        border:1px rgb(129, 21, 102) solid;
        text-decoration: none;
        color: #ffffff;
        border-radius: 5px;
        flex: 1;

        }
        p{
            margin: 20px;
            font-size: 45px;
            color: #aca8ac;
        }
    }
}
*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    padding: 0;
    
}   
.container{
    max-width: 80vw !important;
    margin: 0 auto;
}
.flex{
    display: flex;
}
header{
    align-items: center;
    display: none!important;
    position: absolute;
    width: 450px;
    height: 75px;
    text-shadow: purple 3px 3px 4px;
    box-shadow: purple 1px 1px 10px 1px;
    justify-content: center;

}

body{
    
    background-color: $dominant-color!important;
    font-family: roboto; 
    h1{
        font-family: roboto;
        color: $secondary-color;
        font-size: 2em;

    }
}
#losango{
    display: none;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    margin: 20px;
    border: 1px solid black;
    background-image: linear-gradient(25deg, #D43BC2,#D44B46, #CFD450,#26D463,#8531D4,#8531D4);
    box-shadow: 1px 1px 5px 1px rgb(32, 31, 31);
}
nav{
    flex-direction: row;
    display: flex;
    flex:1 ;
    align-items: flex-end;
    justify-content:flex-end ;
    a{
        text-decoration: none;
        color: #ffffff;
        padding: 10px;
        margin: 5px;
        text-align: end;
        font-size: 20px;
        font-family: robotobold;
        flex:1;
        }
        
}
.row{
    flex-direction: row;
}
.col{
    flex-direction: column;
}